<%inherit file="base.html"/>

<p>
Linotify is a collector of statistics from your servers.
<a href="http://www.serverdensity.com">Server Density</a> is a big inspiration for Linotify.<br/>
They have the right features, the right structure of URLs, the right design, ... just amazing.
</p>

<h2>FAQ</h2>
<p>
Q: Why is it called Linotify?<br/>
A: Because I plan to get notifications about my Linux servers.
</p>

<p>
Q: Who are you?<br/>
A: I'm <a href="http://ivo.danihelka.net">Ivo Danihelka</a>.
Send me a <a href="mailto:ivo@danihelka.net">feedback</a>!
</p>

