<%inherit file="base.html"/>

<p>
Linotify is a collector of statistics from your servers.
It was inspired by <a href="http://www.serverdensity.com">Server Density</a>
great usability.
</p>

<p>
All <a href="http://code.google.com/p/linotify/">Linotify source code</a> is open source.<br/>
It is still under development. I will clean the database if needed.
</p>

<h2>FAQ</h2>
<p>
Q: Why is it called Linotify?<br/>
A: Because I plan to get notifications about my Linux servers.
</p>

<p>
Q: Who are you?<br/>
A: I'm <a href="http://ivo.danihelka.net">Ivo Danihelka</a>.
Send me a <a href="mailto:ivo@danihelka.net">feedback</a>.
I read and respond to every message.
</p>

