<%inherit file="base.html"/>

%if added:
<p>
Server '${server.name}' was successfully added.
</p>
%endif%

<p>
A Python client is provided to send the graph values. Any user can run it.<br/>
<b>1) Download it</b>:
</p>
<pre>
wget <a href="http://www.linotify.com/static/download/linotify-agent.tar.gz">http://www.linotify.com/static/download/linotify-agent.tar.gz</a>
tar xzf linotify-agent.tar.gz
cd linotify-agent
</pre>

<p>
<b>2) Set the server key</b> and test it:
</p>
<pre>
sed -i -e 's/^serverKey.*/serverKey: ${server.get_secret_key()}/' config.cfg
./agent.py -v
</pre>

<p>
<b>3) Schedule it by cron</b> to run every minute:
</p>
<pre>
(crontab -l ; echo "* * * * * `pwd`/agent.py") | crontab -
</pre>

<p>
<br/>
The received values will be then visible on <a href="/my/servers/view/${server.id()}">server graphs</a>.
</p>
