<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>${title} - Linotify</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">Linotify</a></li>
        <li><a href="/my/servers">Servers</a></li>
        <li><a href="/about">About</a></li>
%if user:
        <li><a href="/logout">Logout ${user.nickname()}</a></li>
%endif%
    </ul>
</div>
<h1>${title}</h1>
${self.body()}
${self.script()}
</body>
</html>

<%def name="script()">
</%def>
