<%inherit file="base.html"/>

<table>
<tr><th>Name</th></tr>
%for server in servers:
    <tr><td><a href="/my/servers/view/${server.id()}" title="View the server">${server.name}</a></td></tr>
%endfor%
</table>

<form method="post" action="/my/servers/add">
<p>
    <input type="hidden" name="_csrf" value="${ensure_csrf_token()}"/>
    <input type="text" name="name"/>
    <input type="submit" value="Add Server"/>
</p>
</form>

<%def name="script()">
${parent.script()}
<script type="text/javascript" src="/static/js/main.js"></script>
</%def>


