<%inherit file="base.html"/>

%if last_data_at is not None:
<p>
Last data received: ${formatting.date_ys(last_data_at)}
(${formatting.ago(seconds_ago)}).
    %if seconds_ago >= 600:
<br/>${self.agent_help()}
    %endif%
<br/>
<a ${formatting.select(1, days)|n} href="/my/servers/view/${server.id()}">today</a>
<a ${formatting.select(7, days)|n} href="/my/servers/view/${server.id()}?days=7">last 7 days</a>
<a ${formatting.select(30, days)|n} href="/my/servers/view/${server.id()}?days=30">last 30 days</a>
</p>
%else:
<p>
No data received yet.
${self.agent_help()}
</p>
%endif%

%for i, chart in enumerate(charts):
<h2>${chart.name}</h2>
<div id="chart_${i}">
</div>
%endfor%

<%def name="script()">
${parent.script()}
## Loading the amCharts.
<script type="text/javascript" src="/static/js/swfobject.js"></script>
%for i, chart in enumerate(charts):
<script type="text/javascript">
// <![CDATA[
document.getElementById("chart_${i}").innerHTML = "You need to <a href=\"http://get.adobe.com/flashplayer/\">upgrade your Flash Player<\/a>!";
var so = new SWFObject("/static/swf/amline/amline.swf", "chart_${i}", "800", "400", "8", "#FFFFFF");
so.addParam("wmode", "transparent");
so.addVariable("path", "/static/swf/amline/");
so.addVariable("settings_file", encodeURIComponent("/static/swf/amline/chartline_settings.xml"));
so.addVariable("data_file", encodeURIComponent("/my/servers/chartdata/${server.id()}?chart=${i}&time_from=${time_from}&time_to=${time_to}"));
so.write("chart_${i}");
// ]]>
</script>
%endfor%
</%def>
<%def name="agent_help()">
Set the <a href="/my/servers/agent/${server.id()}">Linotify agent on the server</a>.
</%def>
